@{
    ViewBag.Title = "Contact";
}
<strong><h2>@ViewBag.TT</h2></strong>
<h3>@ViewBag.Message</h3>

<address>
    60-61 Đường số 1<br />
    Phường Phú Hữu, Tp Thủ Đức, Tp Hồ Chí Minh<br />
    <strong><abbr title="Phone">HOTLINE:</abbr></strong>
    090.642.5395
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/torii.01.01/">Nhân Nguyễn</a><br />
    <strong>Supporting:</strong> <a href="mailto:Marketing@example.com">nhann1797@gmail.com</a>
</address>