
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đã gửi yêu cầu đặt hàng</h2>
<h3>Xin hãy chờ đợi để chúng tôi xác nhận đơn hàng</h3>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>    